body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0px;
    padding: 0px;
}
 
h1,h2,h3,h4 {
    font-family:nova square, cursive ;
    color: darkred;
}


nav {
    background-color: rgba(255,255,255,0);
    color: darkred;
}
a {
    text-decoration: none;
    color: darkred;
}


.link {
    background-color:rgba(255,255,255,0) ;
    color: darkred;
}


.bg-custom {
    background-color: rgb(236,236,236);
}

.img-custom{
background: url(mountains2.png),linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)), url(switzerland-862870_1920.jpg);
height: 100vh;
background-position: center;
background-size: cover;
}


.lorem-space {
    letter-spacing: 40px;
    font-size: 50px;
    color: darkred;
}
.text-decoration-none {
    color: black;
}

.icon-custom {
    text-align: center;
    font-size: 40px;
    color: darkred;
}
.icon-custom2 {
    font-size: 30px;
    color: darkred;
}

.p-custom {
    color: black;
    font-size: 23px;
    border-bottom: solid 4px; color: darkred;
}

.pe-custom::before {
    content:"";
    background-color: rgb(255,255,255);
    height: 7px;
    width: 8px;
    border: 15px solid darkred;
    border-radius:50%;
    position: absolute;
    top: 106px;
    right: 64px;
}

.pe-custom::after {
    content:"";
    background-color: rgb(255, 255, 255);
    height: 7px;
    width: 7px;
    border: 13px solid rgb(255, 255, 255);
    border-radius:50%;
    position: absolute;
    top: 108px;
    right: 65px;
}

.pe-custom {
    position: relative;
    top: 100;
}

.h3-custom {
    text-align: right;
}

.container-2 {
    background-image: url(trees2.png);
    height: 100vh;
    background-position: end;
    background-size: cover;
}

.btn-custom {
    background-color: darkred;
    border-radius: 0%;
    margin-top:15%;
    
}



.timeline-p  {
    position:relative;
    border-left: 2px solid darkred;
    padding: left 5px;
}

.timeline-p::before {
    content:"";
    height: 10px;
    width: 10px;
    background-color: darkred;
    border-radius: 50%;
    position: absolute;
    top: 26px;
    left: -5px;
}

.container-timeline {
    background-image: url(single.png) ;
    height: 100vh;
    background-position: end;
    background-size: cover;
}